body{
    background-color: #cccccc; /* Used if the image is unavailable */
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    height: 100%; 
}


img{
    width: 50px;
    height: 50px;
}

.main{
    display: flex;
    flex-direction:column;
    border:1px solid whitesmoke;
    width: 60%;
    margin: auto;

}
.child {
    margin: auto;
    line-height: 0;
}

.header{
    font-family: 'Lexend Deca', sans-serif;
    margin: auto;
    font-size: 4em;
    color:#FF851B;
}



.clock{
    font-family: 'Lato', sans-serif;
    font-size: 3em;
    color:#111111;
}


.start{
    margin: auto;
    padding: 1.7em 2.4em;
    margin: 0px 0.3em 1.3em 0;
    border-radius: 2.15em;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #001f3f;
    border:1px solid #001f3f;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    font-family: 'Lexend Deca', sans-serif;
    transition: all 0.2s ease-in-out;
}

.text{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.4;
}

.score{
    color: #FF851B;
    font-size: 2.4em;
    font-family: 'Lato', sans-serif;
}

.board{
    height: 300px;
    display: flex;
    flex-direction: row;
    width: 300px;
    flex-wrap: wrap;
    /* background-color: brown; */
    justify-content: space-between;
}

.hover{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    background: rgb(145, 92, 182);
    padding: 15px 40px;
    border-radius: 4px;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}

.one{
    display: flex;
    flex-direction: column;
}